* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: whitesmoke;
  /* overflow-x: hidden; */
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 3.6rem;
  margin: 1rem 0;
}

.container {
  width: 50%;
  min-width: 280px;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  background-color: gray;
  width: 245px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
  gap: 5rem;
}

.display {
  background-color: black;
  color: white;
  width: 90%;
  height: auto;
  padding: 1.5rem 1rem;
  text-align: right;
  font-size: 3.3rem;
  border-radius: 0.5rem;
}

.keycontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.1rem 1rem 0.1rem;
  gap: 1rem;
}

.keys {
  background-color: rgb(124, 121, 121);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #555;
  color: white;
}
.top-control {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

.number {
  height: 4rem;
  width: 4rem;
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayNon {
  visibility: hidden;
  position: relative;
}
.plus {
  width: 4rem;
  height: 9rem;
  position: absolute;
}
.combo {
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.font-siz {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}
p {
  font-size: 1.7rem;
  font-weight: bold;
  color: greenyellow;
  text-align: center;
}

/* about page  */
.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* about  section */

.smart {
  flex-direction: column;
}

.smart h1 {
  padding: 3rem 0;
  /* text-decoration: underline; */
  color: green;
}
hr {
  width: 80%;
  margin: 2rem 0;
}
.container-about {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  font-size: 2rem;
  padding: 2rem;
}

/* about link tag  */

a.simple-link {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

a.simple-link:hover {
  text-decoration: underline;
  color: #000000;
}

/* back to home  */

.home-button {
  background-color: #4caf50;
  color: white;
  margin-top: 6rem;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #45a049;
}
